<mat-toolbar  class="mat-toolbar-container" color="primary">
    <span>Welcome to {{appName}}</span>
    <span class="spaces"></span>
    <mat-nav-list class="mat-nav">
        <mat-list-item routerLink="/home">Home</mat-list-item>
        <ng-container *ngIf="isLoggedIn(); else loggedOutBlock">
            <mat-list-item routerLink="/profile">Profile</mat-list-item>
            <mat-list-item routerLink="/account">Account</mat-list-item>
            <mat-list-item (click)="logout()">Logout</mat-list-item>
        </ng-container>
        <ng-template #loggedOutBlock>
            <mat-list-item (click)="logIn()">LogIn</mat-list-item>
        </ng-template>
    </mat-nav-list>
</mat-toolbar>