body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

app-root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

app-header {
    position: sticky;
    top: 0;
    flex: 0 0 auto;
    z-index: 10;
}

.main-container {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 20px;
}

app-footer {
    flex: 0 0 auto;
    z-index: 10;
}