.search-container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20%;
    margin: 10px;
    padding-top: 10px;
}


.search-button {
    border: none;
    background-color: unset;
}

.search-icon {
    font-size: 24px;
}
.buttons-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.action-button {
    margin: 10px;
    height: auto;
    border-radius: 10%;
}
.buttons-container .action-button {
    display: flex;
    align-items: center;
}

.buttons-container .action-button mat-icon {
    margin-right: 8px;

}